/*CSS across pages*/

html,body{
  background-color:#F5F5F5;
}

h1,h2,h3,h4,h5,h6{
  text-align: center;
}

a.btn, input.btn{
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.pageHeader {
  text-align: center;

  > *{
    padding: 10px 5px 10px 5px;
  }

}



#header{
  margin: 0px 0px 0px 0px;
}

.buttons{
  width:100%;
  min-height: 50px;
  padding-bottom: 20px;
}

textarea{
    resize: vertical;
    height: 100%;
    overflow: auto;
}

/*end of across pages */

/*CSS for login page views/devise/sessions/new.html.erb */

.new{

  #titleHeader{
    min-height:200px;

    h1{
      vertical-align: center;
      padding-top: 30px;
    }

    h2{
      font-size:24px;
    }
  }

  #loginForm{
    max-width:600px;
    min-height: 500px;
    font-size:16px;
    *{
      
        padding-top: 10px;
    }

  }

  html, body{
    background-color: darkgrey;
  }


  h2{
    margin-bottom: 20px;
  }

  label, input{
    display:inline-block;
    padding:5px 5px 5px 5px;
  }

}

/*User Show page*/

.otheruser { margin-left: 1px; }


#listAlbums{
  margin:40px 0px 0px 0px;

  p{
    font-size:18px;
  }
  
  .col-sm-3{
    max-width:300px;
  }
  
}

/*end of User Show*/

/*
=================
ALBUMS
=================
*/


/* Album/Show Page */

#displayThumbs{
  
  margin: 30px 50px 0px 50px;
  padding: 10px 20px 0px 20px;
}

/* Album/Edit Page*/

.albums.edit{
  .buttons{
    padding-top: 20px;
  }
}

/*
=================
PHOTOS
=================
*/

 /*photos show page*/

#displayPhoto{

  align-content:center;
  width:100%;
  margin: 0px auto;

  .thumbnail{
    background-color: lightgrey;
    display:inline;
  }

  #caption{
    margin-bottom: 40px;
  }
  
}


.thumbnail{
  padding:2px 2px 2px 2px;
  display:inline-block;
  text-align: center;

}

.photos.show.row {
  display: flex;
  justify-content: center;
  align-content: center;

}


.displayComments{
  
  background-color:white;
  
  resize:vertical;
  max-width:1020px;
  width:100%;
  margin: 0px auto;
  margin-bottom: 20px;
  padding-bottom: 30px;
  h2{
    padding-bottom: 10px;
  }

  input.btn{
    /*vertical-align: center;*/
  }

  div{
    height:100%;
  }


  .commentItem{

    height:100%;
    width:100%;
    margin: 0px auto;
    align-content: center;
    display: inline-block;
    text-align: left;


    p{
      font-size: 16px;
    }

    #timeAgo{
      text-align: right !important;
      font-size:12px;
    }

  }

  form{
    overflow: hidden;
    vertical-align: center;
  }

  textarea{
    border:2px solid grey !important;
    
    z-index: 2;
  }

  .commentForm{
    position:relative;
    bottom:0px;
    padding: 0px 0px 0px 15px;

  }

}

/*Edit Comment page*/

.edit_comment{
  max-width:800px;
  margin:0px auto;

}


/*end of page*/




/*Footer CSS

#footer{
    display:inline;
    
    width: 100%;
    bottom: 0px;
    z-index: 100;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#footer-content p{
  font-size:16px;
  padding:5px 10px 5px 10px;
    margin-top:30px;
  margin-bottom: 30px;
}

End of Footer CSS */
