

h1,h2,h3,h4,h5,h6{
  text-align: center;
}

a.btn, input.btn{
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.pageHeader {
  text-align: center;
  > *{
    padding: 10px 5px 10px 5px;
  }

}

#listAlbums{
  margin:40px 0px 0px 0px;

  p{
    font-size:18px;
  }
  
  .col-sm-3{
    max-width:300px;
  }
  
}

#header{
  margin: 0px 0px 0px 0px;
}



/*CSS across pages*/

.buttons{
  width:100%;
  min-height: 50px;
  padding-bottom: 20px;
}



/*CSS for login page views/devise/sessions/new.html.erb */

.new{

  #titleHeader{
    min-height:200px;

    h1{
      vertical-align: center;
      padding-top: 30px;
    }

    h2{
      font-size:24px;
    }
  }

  #loginForm{
    max-width:600px;
    min-height: 500px;
    font-size:16px;
    *{
      
        padding-top: 10px;
    }

  }

    html, body{
      background-color: darkgrey;
    }


    h2{
      margin-bottom: 20px;
    }
  
    label, input{
      display:inline-block;
      padding:5px 5px 5px 5px;
      
    }
}

.otheruser { margin-left: 1px; }


/* Album/Show Page */

#displayThumbs{
  margin: 30px 50px 0px 50px;
  padding: 10px 20px 0px 20px;
}

 /*photos in photos show page*/

#displayPhoto{

  align-content:center;
  width:100%;
  margin: 0px auto;

  .thumbnail{
    background-color: lightgrey;
    display:inline;
  }

  #caption{
    padding-left: 50px;
    padding-right: 50px;
  }
  
}


.thumbnail{
  padding:2px 2px 2px 2px;
  display:inline-block;
  text-align: center;

}

.photos.show.row {
  display: flex;
  justify-content: center;
  align-content: center;

}





/*Footer CSS*/

#footer{
    display:inline;
    position:absolute;
    width: 100%;
    bottom: 0px;
    z-index: 100;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#footer div.jumbotron{
  margin-top:0px;
  margin-bottom: 0px;
}

#footer-content p{
  font-size:16px;
}

/*End of Footer CSS */
